{{#if success}}
<div class="alert alert-success" role="alert">
    Message sent successfully!
</div>
{{/if}}
    
{{#if error}}<div class="alert alert-danger" role="alert">
    Error sending the message. Please try again!
</div>
{{/if}}

{{!-- receive the title and make it an anchor to home --}}
<p><a href="/">{{title}}</a></p>