{{#if success}}
<div class="alert alert-success" role="alert">
    Message sent successfully!
</div>
{{/if}}
    
{{#if error}}<div class="alert alert-danger" role="alert">
    Error sending the message. Please try again!
</div>
{{/if}}

{{title}}